.DS_Store
phpcs.xml
phpunit.xml
wp-cli.local.yml
node_modules/
*.sql
*.tar.gz
*.zip
/vendor
yarn-error.log
.sass-cache
release
.idea
codereport.csv

/tests/reports
/tests/codeception.yml
/tests/.env.local
/tests/_output/
/tests/_data/
/tests/_support/_generated/
/tests/e2e/.test-state.json
.wp-env.override.json
/playwright-report/
/test-results/
