includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    bootstrapFiles:
        - phpstan-stubs/wp-cli.php
        - phpstan-stubs/wpcm-constants.php
    paths:
        - .
    excludePaths:
        - vendor
        - node_modules
        - release
        - languages
        - tests
        - dist
        - build
        - assets
