includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - .
    excludePaths:
        - vendor
        - node_modules
        - release
        - languages
        - tests
        - dist
        - build
        - assets
        - includes/class-wpcm-cli.php
